/* Html */

html {
	background-color: #263238;
}

/* Images */

.chip{
	width: 80px;
	height: 80px;
}

@media only screen and (max-width: 600px){
	.chip{
		width: 60px;
		height: 60px;
	}
}

@media only screen and (max-width: 480px){
	.chip{
		width: 40px;
		height: 40px;
	}
}

@media only screen and (max-width: 400px){
	.chip{
		width: 50px;
		height: 50px;
	}
}

/* General */

.top-3 {
	margin-top: 30px;
}
.bottom-3 {
	margin-bottom: 30px;
}

.wrapper {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
   
.wrapper:before {
	content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
   }
   
.container {
	display: inline-block;
    vertical-align: middle;
}

/* Ruleta */

.white-text {
	color: white;
}

.roulette_data {
	text-align: center;
	margin: 0 auto;
}

.roulette{
	width: 400px;
	height: 400px;
	margin: 0 auto;
}

#wheel{
	width: 400px;
	height: 400px;
	position: absolute;
	z-index: 0;
	-webkit-transition: -webkit-transform 5s ease-in-out;
	transition: -webkit-transform 5s ease-in-out;
}


#bola{
	max-width: 400px;
	max-height: 400px;
	position: absolute;
	z-index: 1;
	-webkit-transition: -webkit-transform 4.8s ease-out;
	transition: -webkit-transform 4.8s ease-out;
}


@media only screen and (max-width: 400px){
	#wheel, #bola, .roulette{
		width: 280px;
		height: 280px;
	}
}

/* Cosas del paño */

.group-box-numbers{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	text-align: center;
	font-size: 30px;
}

.group-box-numbers-history{
	background: #37474f;
}

.group-box-numbers-hot{
	background: #bf000c;
}

.hot{
	background: #810000;
	width: 30px;
}

.golden{
	background: #ffb300;
}

.golden-box{
	background: #ffb300;
}

.group-box-numbers-cold{
	background: #00BF96;
}

.cold{
	background: #00816A;
	width: 30px;
}

.group-box-numbers > div{
	padding: 5px;
	display: inline-block;
}


div > span{
	padding: 10px;
	display: inline-block;
}


.red{
	background-color: #e53935;
	border-style: solid;
	border-width: 0.3px;
	border-color: black;
	width: 30px;
}

.black{
	background-color: #212121;
	border-style: solid;
	border-width: 0.3px;
	border-color: #1a1a1aff;
	width: 30px;
}

.green{
	background-color: #2e7d32;
	border-style: solid;
	border-width: 0.3px;
	border-color: black;
	width: 30px;
}

.vertical_text{
	height:3rem;
	writing-mode: vertical-lr;
}
			
.number{
	position: relative;
	color: white;
	text-align: center;
	line-height: 3rem;
	-webkit-user-select: none;
	font-family: 'Anton', sans-serif;
}

.minichips{
	padding: 0 0 0 0;
}

.green:hover{
	background-color: #9e9191bb;
   -webkit-box-shadow: 0px 0px 40px 10px #ffa;
   box-shadow: inset 0px 0px 0px 2px rgba(255, 0, 0, 0);
}
.black:hover{
	background-color: #9e9191bb;
   -webkit-box-shadow: 0px 0px 40px 10px #ffa;
   box-shadow: inset 0px 0px 0px 2px #f00;
}
.red:hover{
	background-color: #9e9191bb;
   -webkit-box-shadow: 0px 0px 40px 10px #ffa;
   box-shadow: inset 0px 0px 0px 2px #f00;
}
